Med's 2nd review

* s/[RFC4340]/(RFC 4340): citations are not allowed in the abstract.
* I would delete this sentence from the abstract because the applicability it UDP/plain IP is discussed in separate individual I-Ds:

   Compared to the existing multipath
   protocols, such as MPTCP, MP-DCCP provides specific support for non-
   TCP user traffic (e.g., UDP or plain IP).

* I would also delete this one as it is redundant with the sentence right before:

   Multipath DCCP provides the ability to
   simultaneously use multiple paths between peers.  

* I'm not sure I would keep the para with in the main text: 

   MP-DCCP was first suggested in the context of the 3GPP ..

* s/ proposes a lightweight encapsulation for DCCP/ proposes an
   encapsulation for DCCP

* s/it/MP-DCCP (many occurrences in 1.1)

* Consider deleting Table 1 as this is redundant with the IANA section. If you keep it, make sure "10" is tagged a suggested value  + add a note to IANA to update it.

* Idem for Table 2.

* s/[RFC4340] Section 6/Section 6 of [RFC4340]

* s/The fields used by the the multipath option/The fields used by the multipath option

* s/Cellular due to e.g. cost reasons/Cellular due to, e.g., cost reasons

* s/In the case of path mobility Section 3.11.1/In the case of path mobility (Section 3.11.1)

* s/A MP_SEQ Section 3.2.5 MUST be/A MP_SEQ (Section 3.2.5) MUST be

* s/Contrary to a MP_FAST_CLOSE Section 3.2.3/Contrary to a MP_FAST_CLOSE (Section 3.2.3)

* s/the MP_KEY option with an Host-specific/the MP_KEY option with a Host-specific

* broken formatting 

OLD: 
  * an identifier (id 2) for
   the new IP address which is used as a reference in subsequent control
   exchanges. * the IP address of the new path (A2_IP) * A pair of
   octets specifying the port number associated with this IP address.

NEW:
  * an identifier (id 2) for  the new IP address which is used as a reference in subsequent control
   exchanges. 

  * the IP address of the new path (A2_IP)

  * A pair of octets specifying the port number associated with this IP address.

* The same issue with other parts:

   The following options MUST be included in a packet carrying
   MP_ADDADDR: * the leftmost 20 bytes of the HMAC(A) generated during
   the initial handshaking procedure described in Section 3.3 and
   Section 3.2.6 * the MP_SEQ option with the sequence number (seqno 12)
   for this message according to Section 3.2.5.

   Host B acknowledges receipt of the MP_ADDADDR message with a DCCP-Ack
   containing the MP_CONFIRM option.  The parameters supplied in this
   response are as follows: * an MP_CONFIRM containing the MP_SEQ number
   (seqno 12) of the packet carrying the option that we are confirming
   together with the MP_ADDADDR option * the leftmost 20 bytes of the
   HMAC(B) generated during the initial handshaking procedure
   Section 3.3

   etc.

* 

* Move these to be listed as normative (please check other entries as well): 

   [RFC4086]  Eastlake 3rd, D., Schiller, J., and S. Crocker,
              "Randomness Requirements for Security", BCP 106, RFC 4086,
              DOI 10.17487/RFC4086, June 2005,
              <https://www.rfc-editor.org/rfc/rfc4086>.

   [RFC6234]  Eastlake 3rd, D. and T. Hansen, "US Secure Hash Algorithms
              (SHA and SHA-based HMAC and HKDF)", RFC 6234,
              DOI 10.17487/RFC6234, May 2011,
              <https://www.rfc-editor.org/rfc/rfc6234>.

   [RFC8126]  Cotton, M., Leiba, B., and T. Narten, "Guidelines for
              Writing an IANA Considerations Section in RFCs", BCP 26,
              RFC 8126, DOI 10.17487/RFC8126, June 2017,
              <https://www.rfc-editor.org/rfc/rfc8126>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/rfc/rfc8174>.

* This one was obsoleted by RFC9293

   [RFC0793]  Postel, J., "Transmission Control Protocol", RFC 793,
              DOI 10.17487/RFC0793, September 1981,
              <https://www.rfc-editor.org/rfc/rfc793>.

Note: RFC6234 is Informational, so please consider carefully if this reference needs to be normative in a PS.

@gorryfair, RFC6234 is already present in the downref registry: https://datatracker.ietf.org/doc/downref. So, that's OK

That RFC is normative given that it is called in the text as follows:

  For this specification of MP-
   DCCP, the HMAC code is generated according to [RFC2104] in
   combination with the SHA256 hash algorithm described in [RFC6234],
   with the output truncated to the leftmost 160 bits (20 bytes).

OK, then I can live with that:-).