Comments and questions on different sections from AD review


As I have several comments per sections, I decided put them into one issue rather creating separate issues . Most of this comments are editorial and  I hope it is still manageable this way :-). 

**Section 2**
- It says -

  https://github.com/tsvwg/ietf-multipath-dccp/blob/b8cc70de1761ddf446f1782fd8b0c728ac032a5d/draft-ietf-tsvwg-multipath-dccp.mkd?plain=1#L348-L349
 If peers do not require to have more than one address, does that mean ports can be used to separate paths even with single IP address per host? If this is the case then it is not aligned with what is written in sections above, here - https://github.com/tsvwg/ietf-multipath-dccp/blob/b8cc70de1761ddf446f1782fd8b0c728ac032a5d/draft-ietf-tsvwg-multipath-dccp.mkd?plain=1#L301

- it says
    > the creation of new subflows from that peer host needs to be avoided and incoming subflow requests terminated

  I think you mean - the creation of new subflows from that host is avoided by terminating request to create new subflow, right?

**Section 3**

- if there is no early allocation for type and number , we should ## or **  in the table to avoid some early implementation start to use this values and later coliids. 
- I would suggest to use a reference to section 6 of RFC4340 when describing Change R and Confrim L options.
- s/DCCP reset / DCCP-Reset
- Just to undestand it better - after sending DCCP_FAST_CLOSE on all subflows the host A will teardowns subflows and terminate the connection, hence it will have no states to on expecting the DCCP_Reset respose which host B will send upon receiving the DCCP_FAST_CLOSE, right?

  

**Section 2**

1. Already changed in #303 
2. No, the meaning of the sentence is intentional. The peer host that sets the limit may not initialize any new subflows and may not accept any new incoming subflow requests if the limit is reached.

**Section 3**
1. Provisional allocation only applied for feature number https://www.iana.org/assignments/dccp-parameters/dccp-parameters.xhtml#dccp-parameters-7. Option type 46 and Multipath options registry is not yet assigned. Could you explain your idea again? In which table should I mark what? Table 3 first and third column?
2. Done in #313
3. Done in #314
4. Right
